<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Footy App</ion-title>
    </ion-navbar>
    <ion-toolbar color="secondary">
        <ion-title>
            My Teams
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>You are not currently following any teams.</p>
    <p>Select a tournament to follow your team.</p>
    <button ion-button (click)="goToTournaments()">Find a Tournament</button>
</ion-content>